@import "../css/variables.css";

body{
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    background-color: var(--main-color);
}

*{
    outline: 3px solid black;
}

html{
    scroll-behavior: smooth;
}

/* PARALLAX STYLES */

.parallax-scene{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url(/assets/images/beautiful-scenery-emerald-lake-yoho-national-park-british-columbia-canada.jpg);
    background-position: 5%;
    background-size: cover;
    
}

/* .para-container{
} */

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.layer--fg {
  z-index: 3;
}

.layer--mid {
  z-index: 2;
}

.layer--bg {
  z-index: 1;
}


h1{
    font-family: var(--header-font);
    font-size: var(--Sizes__3XL);
    text-align: center;
    margin: auto;
    padding: var(--SpacingL);
    margin-top: var(--Spacing5XL);
    background-color: rgba(255, 255, 255, .3);
    width: fit-content;
    border-radius: 10px;
}


/* NAV STYLES */
nav{
    position: sticky;
    top: 0;
    left: 0;
    overflow: visible;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   

}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
    background-color: var(--green-4);
    padding: var(--SpacingS);
    padding-left: var(--SpacingL);
    padding-right: var(--SpacingL);
    margin: var(--SpacingS);
}



/* SECTIONS */

#section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    margin: var(--Spacing5XL);
}


.about-container{
    font-family: var(--body-font);
    font-size: var(--Sizes__L);
    font-weight:600;
    width: 50%;
    margin: var(--Spacing3XL);
    background-color: white;
    padding: var(--Spacing5XL)
}



/* Section 2 */


#section-2{
    margin-top: var(--Spacing2XL);
    height: 75vh;
    background-color: var(--green-2);
}



h2{
    font-family: var(--header-font);
    font-size: var(--Sizes__XL);
    text-align: center;
    
}

#section-2 h2{
    margin: var(--Spacing3XL);
    padding-top: var(--Spacing2XL)
    
}


.sites{
    display: flex;
    justify-content: space-evenly;
    
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.projects p{
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: var(--header-font);
    font-size: var(--Sizes__XL);
}




/* footer */

footer{
    margin-top: var(--Spacing2XL);
    padding: var(--Spacing5XL);
    display: flex;
    justify-content: center;
    background-color: var(--green-3);
}

.quicklinks{
    font-family: var(--body-font);
    font-size: var(--Sizes__L);
}





/* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES */
/* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES */
/* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES *//* MOBILE STYLES */




@media (max-width: 900px) {

    .parallax-scene {
        height: 75svh;
    }

    h1 {
        padding: var(--SpacingS);
        margin-top: var(--Spacing3XL);
    
    }

    ul{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    
}



    a {
        padding: var(--SpacingXS) var(--SpacingXS);
        margin: var(--SpacingXS);
    }

    #section-1 {
        height: 75svh;
    }

    .about-container {
        width: 95%; 
        padding: var(--Spacing3XL);
    }

    #section-2 {
        height: auto; 
        padding-bottom: var(--Spacing2XL);
    }

    #section-2 p{
        font-size: var(--Sizes__L);
    }

    .projects {
        width: 200px;
        height: auto; 
    }

    
    .projects img {
        width: 100%;
        height: auto;
    }

    footer{
    margin-top: var(--SpacingL);
    padding: var(--Spacing2XL);
    }

    
}
