@import "../css/variables.css";

body{
    position: relative;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
}

*{
    outline: 3px solid black;
}


/* PARALLAX STYLES */

.parallax-scene{
    position: relative;
    height: 100vh;
    overflow: hidden;
    
}


.layer {
  position: absolute;
  bottom: 0;
  left: 17%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.layer--fg {
  z-index: 3;
}

.layer--mid {
  z-index: 2;
}

.layer--bg {
  z-index: 1;
}


h1{
    font-family: var(--header-font);
    font-size: var(--Sizes__3XL);
    text-align: center;
    margin-top: var(--Spacing5XL);
}


/* NAV STYLES */

.nav-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: black;
    background-color: aqua;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
}



/* SECTIONS */

#section-1{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: var(--Spacing3XL);
}


.about-container{
    font-family: var(--body-font);
    font-size: var(--Sizes__L);
    font-weight:600;
    width: 50%;
    margin: var(--Spacing3XL);
}



/* Section 2 */


#section-2{
    margin-top: var(--Spacing2XL)
}


.site-carousel{
    display: flex;
    justify-content: space-evenly;
    
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.projects a{
    text-align: center;
    margin: auto;
}